#Database Settings
DATABASE_HOST="Your Host"
DATABASE_PORT="DataBase Port"
DATABASE_NAME="DataBase Name"
DATABASE_USER="DataBase Username"
DATABASE_PASSWORD="DataBase Password"

#Django Settings
DJANGO_DEBUG=False
DJANGO_SECRET_KEY="REPLACE_ME"